.logo {
  position: fixed;
  top: 5%;
  left: 66px;
  z-index: 40;

  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #060606; // fixed hex
  border: 1px solid white;
  padding: 14px 10px;
  font-size: 16px;
  font-weight: lighter;

  text-decoration: none; // remove underline
  /* prevent color change when link is clicked */
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: #060606;
    text-decoration: none;
  }

  &.light {
    color: white;
    border: 1px solid #060606;
    background-color: #060606;

    &:link,
    &:visited,
    &:active,
    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  @media (max-width: 768px) {
    left: 32px;
    top: 32px;
  }
}
